h1{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 160%;
    font-weight: bold;
    text-align: center;
}

#main_header{
    top: 30px;
    width: auto;
    margin: 0 auto;

    height: 160px;
    position: relative;
}

#main_header > div{
    position: absolute;
    top: 80px;
}

#main_header > #title{
    position: absolute;
    right: 20px; top: 0px;
}

#main_header > #title > ul > li{
    display: inline;
    padding: 2px 10px;
    border: 1px solid black;
    margin: 2px;
}

#main_header > #title > ul > li:first-child{
    border-radius: 10px 0 0 10px;
}

#main_header > #title > ul > li:last-child{
    border-radius: 0 10px 10px 0;
}